# Movie Predictor
### This project is dedicated to the legendary action hero Steven Seagal.
![title](steven.jpg)
## What does it do?
### Predict
- Average rating of movies on IMDb
### Using
- Directors
- Writers
- Actors
- Cinematographers
- Composers

### Extract the data

In [3]:
import pandas as pd

cols = ["tconst", "averageRating"]
titleAndRating = pd.read_csv('../title.ratings.tsv', delimiter='\t', usecols=cols)

cols = ["tconst", "titleType", "primaryTitle"]
titleTypeAndName = pd.read_csv('../title.basics.tsv', delimiter='\t', usecols=cols)

cols = ["tconst", "nconst", "category"]
movieRoles = pd.read_csv('../title.principles.tsv', delimiter='\t', usecols=cols)

### Clean the data so we only have
- Movies
- TV Movies
- Shorts

### And we only need the
- Directors
- Writers
- Actors
- Cinematographers
- Composers

In [17]:

titleTypeAndName = titleTypeAndName.loc[(titleTypeAndName["titleType"] == "short") | (titleTypeAndName["titleType"] == "tvMovie") | (titleTypeAndName["titleType"] == "movie") ]
titleTypeAndName.reset_index(inplace=True,drop=True)
movieRoles = movieRoles.loc[(movieRoles["category"] == "self") | (movieRoles["category"] == "actor") | (movieRoles["category"] == "director") | (movieRoles["category"] == "writer") | (movieRoles["category"] == "cinematographer") | (movieRoles["category"] == "composer")]
movieRoles.reset_index(inplace=True,drop=True) #Need to reset the index

### Make the new dataset
- titleType, primaryTitle, Directors, Writers, Actors, Cinematographers, Composers, rating

In [16]:
movieData = pd.DataFrame(columns = ['tconst','titleType', 'primaryTitle', 'director', 'writer', 'actor', 'cinematographer', 'composer', 'averageRating'])

movieData['tconst'] = titleTypeAndName['tconst'].copy()

cols = ["tconst"]
movieData.join(titleTypeAndName.set_index(cols), on=cols)

,tconst,Type,Title,Directors,Writers,Actors,Cinematographers,Composers,Rating
0,tt0000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1571641,tt9916730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571642,tt9916754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571643,tt9916756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571644,tt9916764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571645,tt9916856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN